section.advertising {
  grid-area: advertising;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  width: 60%;

  margin: 10rem auto 0;
  padding: 6rem 7rem;

  border-radius: 1rem;

  box-shadow: 2px 2px 5px 2px #000;
}

section.advertising > .box > .title {
  font-size: 5.5rem;
  font-weight: 700;
}

section.advertising > .box > .btn {
  background-color: var(--Pink);

  width: 50%;

  display: inline-block;

  margin-top: 10rem;
  padding: 2rem 0;
  border-radius: 3rem;

  font-weight: 600;
  font-size: 1.8rem;

  color: #fff;

  box-shadow: 3px 3px 10px #000;

  transition: 0.3s;
}

section.advertising > .box > .btn:focus {
  border: 1px solid var(--Pink);

  background-color: #fff;

  color: #000;
}

@media (max-width: 425px) {
  section.advertising {
    width: 90%;

    margin: 10rem auto 0;
    padding: 3.5rem 2rem;
  }

  section.advertising > .box > .title {
    font-size: 1.9rem;
  }

  section.advertising > .box > .btn {
    width: 80%;

    margin-top: 3rem;
    padding: 1.2rem 0;

    font-size: 1.5rem;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  section.advertising {
    width: 85%;

    margin-top: 4rem;
    padding: 4rem 3rem;
  }

  section.advertising > .box > .title {
    font-size: 3rem;
  }

  section.advertising > .box > .btn {
    width: 80%;

    padding: 1.7rem 0;
    margin-top: 4rem;

    font-size: 1.7rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  section.advertising {
    width: 80%;

    padding: 4rem;
  }

  section.advertising > .box > .title {
    font-size: 3.5rem;

    text-align: center;
  }

  section.advertising > .box > .btn {
    width: 80%;

    text-align: center;

    font-size: 1.6rem;

    margin-top: 7rem;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  section.advertising {
    width: 60%;

    padding: 5rem 0;
  }

  section.advertising > .box > .title {
    font-size: 3.5rem;
  }

  section.advertising > .box > .btn {
    width: 70%;
    
    margin-top: 4rem;
    padding: 1.3rem;

    font-size: 1.6rem;
  }
}