.container > header {
  grid-area: header;

  background: url(../images/bg-hero-desktop.svg) center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container > header > .header-container {
  padding: 5rem 7rem 0;
}

.container > header > .header-container > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container > header > .header-container > ul > .list > .img-logo {
  width: 100%;
}

.container > header > .header-container > ul > .list > .btn {
  background-color: #fff;

  padding: 1.5rem 7rem;

  border-radius: 5rem;

  color: var(--Very-Dark-Cyan);

  font-size: 1.8rem;

  transition: 0.1s;

  box-shadow: 3px 3px 10px #000;
}

.container > header > .header-container > ul > .list > .btn:focus {
  background-color: var(--Pink);

  color: #fff;
}

.container > header > .header-container > .container {
  display: flex;
  justify-content: center;
  gap: 5rem;

  margin-top: 5rem;
}

.container > header > .header-container > .container > .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container > header > .header-container > .container > .left > .title {
  font-size: 6rem;
}

.container > header > .header-container > .container > .left > .description {
  font-size: 2.2rem;

  line-height: 4rem;

  margin-top: 4rem;
}

.container > header > .header-container > .container > .left > .btn {
  background-color: var(--Pink);

  margin-top: 2.5rem;
  padding: 1.5rem 0;

  width: 32rem;

  text-align: center;

  border-radius: 3rem;
  border: 1px solid var(--Pink);

  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;

  color: #fff;

  transition: 0.1s;
}

.container > header > .header-container > .container > .left > .btn:focus {
  border: 1px solid var(--Pink);

  background-color: #fff;

  color: #000;
}


/* FAZER A RESPONSIVIDADE COM AS AULAS DE CSS INTERMEDIÁRIO MEDIA QUERIES PEGAR UM EXEMPLO DESSE VÍDEO AQUI: https://www.youtube.com/watch?v=lW4y96F-4UQ&t=2177s */

@media (max-width: 425px) {
  .container > header {
    display: flex;
    flex-direction: column;

    background: url(../images/bg-hero-mobile.svg) center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 3rem 3rem 0;
  }

  .container > header > .header-container {
    display: flex;
    flex-direction: column;

    padding: 0;

    text-align: center;
  }

  .container > header > .header-container > ul {
    display: flex;
    align-items: center;
  }

  .container > header > .header-container > ul > .list > .img-logo {
    width: 15rem;
  }

  .container > header > .header-container > ul > .list > .btn {
    padding: 0.9rem 4rem;

    font-size: 1.3rem;
    font-weight: bold;
  }

  .container > header > .header-container > .container {
    flex-direction: column;

    margin-top: 10rem;
  }

  .container > header > .header-container > .container > .left > .title {
    font-size: 2.9rem;

    line-height: 4.5rem;
  }

  .container > header > .header-container > .container > .left > .description {
    font-size: 1.8rem;

    line-height: 3rem;

    margin-top: 2rem;
  }

  .container > header > .header-container > .container > .left > .btn {
    margin: 2rem 0;

    font-weight: bold;
    font-size: 1.5rem;

    width: 100%;
  }

  .container > header > .header-container > .container > .right > .container-image {
    width: 100%;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .container > header > .header-container > ul > .list > .img-logo {
    width: 80%;
  }

  .container > header > .header-container > ul > .list > .btn {
    padding: 1rem 6rem;

    font-size: 1.7rem;
  }

  .container > header > .header-container > .container {
    display: flex;
    flex-direction: column;

    text-align: center;
  }

  .container > header > .header-container > .container > .left > .title {
    font-size: 5rem;

    margin-top: 3rem;
  }

  .container > header > .header-container > .container > .left > .description {
    font-size: 2rem;
  }

  .container > header > .header-container > .container > .left > .btn {
    margin: 4rem auto 0;

    width: 80%;

    font-size: 2rem;
  }

  .container > header > .header-container > .container > .right > .container-image {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container > header > .header-container > .container {
    display: flex;
    flex-direction: column;

    text-align: center;
  }

  .container > header > .header-container > .container > .left > .title {
    width: 85%;

    margin: auto;
  }

  .container > header > .header-container > .container > .left > .description {
    margin-top: 2rem;

    font-size: 2.5rem;

    padding: 0 3rem;
  }

  .container > header > .header-container > .container > .left > .btn {
    margin: 4rem auto 0;

    width: 80%;

    font-size: 2.2rem;
  }

  .container > header > .header-container > .container > .right > .container-image {
    width: 100%;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  /* A partir daqui fazer o responsivo com esse min-width para fazer no notebook. */
  .container > header > .header-container > .container {
    display: flex;
  }

  .container > header > .header-container > .container > .left {
    display: flex;
  }

  .container > header > .header-container > .container > .left > .title {
    font-size: 5rem;
  }

  .container > header > .header-container > .container > .left > .description {
    font-size: 1.7rem;

    line-height: 3rem;
  }

  .container > header > .header-container > .container > .right {
    display: flex;
  }

  .container > header > .header-container > .container > .right > .container-image {
    width: 60rem;
  }
}