main > .container {
  display: grid;
  grid-template-areas:
    "header header header header"
    "infos infos infos infos"
    "advertising advertising advertising advertising"
    "footer footer footer footer";

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);

  font-family: "Poppins", sans-serif;
}

.container > header {
  grid-area: header;

  background: url(../images/bg-hero-desktop.svg) center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container > header > .header-container {
  padding: 5rem 7rem 0;
}

.container > header > .header-container > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container > header > .header-container > ul > .list > .img-logo {
  width: 100%;
}

.container > header > .header-container > ul > .list > .btn {
  background-color: #fff;

  padding: 1.5rem 7rem;

  border-radius: 5rem;

  color: var(--Very-Dark-Cyan);

  font-size: 1.8rem;

  transition: 0.1s;

  box-shadow: 3px 3px 10px #000;
}

.container > header > .header-container > ul > .list > .btn:focus {
  background-color: var(--Pink);

  color: #fff;
}

.container > header > .header-container > .container {
  display: flex;
  justify-content: center;
  gap: 5rem;

  margin-top: 5rem;
}

.container > header > .header-container > .container > .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container > header > .header-container > .container > .left > .title {
  font-size: 6rem;
}

.container > header > .header-container > .container > .left > .description {
  font-size: 2.2rem;

  line-height: 4rem;

  margin-top: 4rem;
}

.container > header > .header-container > .container > .left > .btn {
  background-color: var(--Pink);

  margin-top: 2.5rem;
  padding: 1.5rem 0;

  width: 32rem;

  text-align: center;

  border-radius: 3rem;
  border: 1px solid var(--Pink);

  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;

  color: #fff;

  transition: 0.1s;
}

.container > header > .header-container > .container > .left > .btn:focus {
  border: 1px solid var(--Pink);

  background-color: #fff;

  color: #000;
}

section.infos {
  grid-area: infos;

  display: flex;
  flex-direction: column;

  padding: 0 10rem;
  margin-top: 5rem;
}

section.infos > .info.grow,
section.infos > .info.users {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 1rem;

  padding: 5rem 7rem;
  margin-bottom: 6rem;

  box-shadow: 2px 2px 5px 2px #000;
}

section.infos > .info.flowing {
  display: flex;
  justify-content: space-between;

  border-radius: 1rem;

  padding: 5rem 10rem;
  margin-bottom: 6rem;

  box-shadow: 2px 2px 5px 2px #000;
}

section.infos > .info.flowing > .right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

section.infos > .info.grow > .left > .title,
section.infos > .info.flowing > .right > .title,
section.infos > .info.users > .left > .title {
  font-size: 4rem;
}

section.infos > .info.flowing > .right > .title {
  width: 60%;
}

section.infos > .info.grow > .left > .description,
section.infos > .info.flowing > .right > .description,
section.infos > .info.users > .left > .description {
  margin-top: 2rem;

  font-size: 1.8rem;

  width: 60%;

  line-height: 3rem;

  color: var(--Grayish-Blue);
}

section.infos > .info.grow > .image-grow,
section.infos > .info.flowing > .image-flowing,
section.infos > .info.users > .image-users {
  width: 50rem;
}

section.advertising {
  grid-area: advertising;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  width: 60%;

  margin: 10rem auto 0;
  padding: 6rem 7rem;

  border-radius: 1rem;

  box-shadow: 2px 2px 5px 2px #000;
}

section.advertising > .box > .title {
  font-size: 5.5rem;
  font-weight: 700;
}

section.advertising > .box > .btn {
  background-color: var(--Pink);

  width: 50%;

  display: inline-block;

  margin-top: 10rem;
  padding: 2rem 0;
  border-radius: 3rem;

  font-weight: 600;
  font-size: 1.7rem;

  color: #fff;

  box-shadow: 3px 3px 10px #000;

  transition: 0.3s;
}

section.advertising > .box > .btn:focus {
  border: 1px solid var(--Pink);

  background-color: #fff;

  color: #000;
}

footer.footer {
  grid-area: footer;

  margin-top: 3rem;

  background-color: var(--Very-Dark-Cyan);
  
  color: #FFF;

  font-size: 1.9rem;
}

footer.footer > .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;

  padding: 4rem 10rem;
}

footer.footer > .container > .left {
  width: 70%;  
}

footer.footer > .container > .left > .div-image > img {
  padding: 1.5rem;

  border-radius: 2rem;

  background-color: var(--Very-light-Cyan);
}

footer.footer > .container > .left > .lists {
  display: flex;
  flex-direction: column;
}

footer.footer > .container > .left > .lists > .list {
  display: flex;
  align-items: center;
  gap: 2rem;

  margin-top: 2rem;
}

footer.footer > .container > .left > .lists > .list.-first {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

footer.footer > .container > .group-left-right-middle {
  display: flex;
  justify-content: space-around;

  margin-top: 5rem;
}

footer.footer > .container > .group-left-right-middle > .left-middle > .lists > .list > .description,
footer.footer > .container > .group-left-right-middle > .right-middle > .lists > .list > .description {
  margin-top: 3rem;
}

footer.footer > .container > .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-left: 10rem;
}

footer.footer > .container > .right > .lists {
  display: flex;
  justify-content: center;
  
  width: 100%;

  margin-top: 8rem;
}

footer.footer > .container > .right > .lists > .list {
  display: flex;
  align-items: center;
  gap: 2rem;

  margin-right: 2rem;
}

footer.footer > .container > .right > .description {
  margin-top: 8rem;

  text-align: center;

  font-size: 1.8rem;
}

