main > .container {
  display: grid;
  grid-template-areas:
    "header header header header"
    "infos infos infos infos"
    "advertising advertising advertising advertising"
    "footer footer footer footer";

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);

  font-family: "Poppins", sans-serif;
}

.container > header {
  grid-area: header;

  background: url(../images/bg-hero-desktop.svg) center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container > header > .header-container {
  padding: 5rem 7rem 0;
}

.container > header > .header-container > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container > header > .header-container > ul > .list > .img-logo {
  width: 100%;
}

.container > header > .header-container > ul > .list > .btn {
  background-color: #fff;

  padding: 1.5rem 7rem;

  border-radius: 5rem;

  color: var(--Very-Dark-Cyan);

  font-size: 1.8rem;

  transition: 0.1s;

  box-shadow: 3px 3px 10px #000;
}

.container > header > .header-container > ul > .list > .btn:focus {
  background-color: var(--Pink);

  color: #fff;
}

.container > header > .header-container > .container {
  display: flex;
  justify-content: center;
  gap: 5rem;

  margin-top: 5rem;
}

.container > header > .header-container > .container > .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container > header > .header-container > .container > .left > .title {
  font-size: 6rem;
}

.container > header > .header-container > .container > .left > .description {
  font-size: 2.2rem;

  line-height: 4rem;

  margin-top: 4rem;
}

.container > header > .header-container > .container > .left > .btn {
  background-color: var(--Pink);

  margin-top: 2.5rem;
  padding: 1.5rem 0;

  width: 32rem;

  text-align: center;

  border-radius: 3rem;

  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;

  color: #fff;

  transition: 0.1s;
}

.container > header > .header-container > .container > .left > .btn:focus {
  border: 1px solid var(--Pink);

  background-color: #fff;

  color: #000;
}

/* FAZER A RESPONSIVIDADE COM AS AULAS DE CSS INTERMEDIÁRIO MEDIA QUERIES PEGAR UM EXEMPLO DESSE VÍDEO AQUI: https://www.youtube.com/watch?v=lW4y96F-4UQ&t=2177s */

@media (max-width: 425px) {
  .container > header {
    display: flex;
    flex-direction: column;

    background: url(../images/bg-hero-mobile.svg) center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 3rem 3rem 0;
  }

  .container > header > .header-container {
    display: flex;
    flex-direction: column;

    padding: 0;

    text-align: center;
  }

  .container > header > .header-container > ul {
    display: flex;
    align-items: center;
  }

  .container > header > .header-container > ul > .list > .img-logo {
    width: 12rem;
  }

  .container > header > .header-container > ul > .list > .btn {
    padding: 0.5rem 4rem;

    font-size: 1.3rem;
    font-weight: bold;
  }

  .container > header > .header-container > .container {
    flex-direction: column;

    margin-top: 10rem;
  }

  .container > header > .header-container > .container > .left > .title {
    font-size: 2.9rem;

    line-height: 4.5rem;
  }

  .container > header > .header-container > .container > .left > .description {
    font-size: 1.8rem; /* Tentar ajustar igual está no layout */

    line-height: 3rem;

    margin-top: 2rem;
  }

  .container > header > .header-container > .container > .left > .btn {
    margin: 2rem 0;

    font-weight: bold;
    font-size: 1.5rem;

    width: 100%;
  }

  .container > header > .header-container > .container > .right > .container-image {
    width: 100%;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .container > header > .header-container > ul > .list > .img-logo {
    width: 80%;
  }

  .container > header > .header-container > ul > .list > .btn {
    padding: 1rem 6rem;

    font-size: 1.7rem;
  }

  .container > header > .header-container > .container {
    display: flex;
    flex-direction: column;

    text-align: center;
  }

  .container > header > .header-container > .container > .left > .title {
    font-size: 5rem;

    margin-top: 3rem;
  }

  .container > header > .header-container > .container > .left > .description {
    font-size: 2rem;
  }

  .container > header > .header-container > .container > .left > .btn {
    margin: 4rem auto 0;
  }

  .container > header > .header-container > .container > .right > .container-image {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container > header > .header-container > .container {
    display: flex;
    flex-direction: column;

    text-align: center;
  }

  .container > header > .header-container > .container > .left > .title {
    width: 85%;

    margin: auto;
  }

  .container > header > .header-container > .container > .left > .description {
    margin-top: 2rem;

    font-size: 2.5rem;

    padding: 0 3rem;
  }

  .container > header > .header-container > .container > .left > .btn {
    margin: 4rem auto 0;
  }

  .container > header > .header-container > .container > .right > .container-image {
    width: 100%;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  /* A partir daqui fazer o responsivo com esse min-width para fazer no notebook. */
  .container > header > .header-container > .container {
    display: flex;
  }

  .container > header > .header-container > .container > .left {
    display: flex;
  }

  .container > header > .header-container > .container > .left > .title {
    font-size: 5rem;
  }

  .container > header > .header-container > .container > .left > .description {
    font-size: 1.7rem;

    line-height: 3rem;
  }

  .container > header > .header-container > .container > .right {
    display: flex;
  }

  .container > header > .header-container > .container > .right > .container-image {
    width: 60rem;
  }
}

section.infos {
  grid-area: infos;

  display: flex;
  flex-direction: column;

  padding: 0 10rem;
  margin-top: 5rem;
}

section.infos > .info.grow,
section.infos > .info.users {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 1rem;

  padding: 5rem 7rem;
  margin-bottom: 6rem;

  box-shadow: 2px 2px 5px 2px #000;
}

section.infos > .info.flowing {
  display: flex;
  justify-content: space-between;

  border-radius: 1rem;

  padding: 5rem 10rem;
  margin-bottom: 6rem;

  box-shadow: 2px 2px 5px 2px #000;
}

section.infos > .info.flowing > .right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}

section.infos > .info.grow > .left > .title,
section.infos > .info.flowing > .right > .title,
section.infos > .info.users > .left > .title {
  font-size: 4rem;
}

section.infos > .info.flowing > .right > .title {
  width: 60%;
}

section.infos > .info.grow > .left > .description,
section.infos > .info.flowing > .right > .description,
section.infos > .info.users > .left > .description {
  margin-top: 2rem;

  font-size: 1.8rem;

  width: 60%;

  line-height: 3rem;

  color: var(--Grayish-Blue);
}

section.infos > .info.grow > .image-grow,
section.infos > .info.flowing > .image-flowing,
section.infos > .info.users > .image-users {
  width: 50rem;
}

@media (max-width: 425px) {
  section.infos {
    padding: 3rem 2rem;
  }

  section.infos > .info.grow,
  section.infos > .info.flowing,
  section.infos > .info.users {
    flex-direction: column-reverse;
    gap: 2rem;

    padding: 4rem 1rem;

    text-align: center;
  }

  section.infos > .info.flowing {
    flex-direction: column;
  }

  section.infos > .info.grow > .left > .title,
  section.infos > .info.flowing > .right > .title,
  section.infos > .info.users > .left > .title {
    font-size: 2.7rem;
  }

  section.infos > .info.flowing > .right > .title {
    margin-right: 0;
    padding: 0 0.8rem;

    width: 100%;
  }

  section.infos > .info.grow > .left > .description,
  section.infos > .info.flowing > .right > .description,
  section.infos > .info.users > .left > .description {
    width: 100%;

    font-size: 1.7rem;

    line-height: 2.8rem;

    padding: 0 1rem;
  }

  section.infos > .info.grow > .image-grow,
  section.infos > .info.users > .image-users {
    width: 30rem;

    margin: 4rem 0;
  }

  section.infos > .info.flowing > .image-flowing {
    width: 100%;

    padding: 2rem;
  }

    section.infos > .info.users.-last {
    margin-bottom: 2rem;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  section.infos {
    padding: 0 3rem;
  }

  section.infos > .info.grow,
  section.infos > .info.flowing,
  section.infos > .info.users {
    padding: 2rem 2rem;

    gap: 5rem;
  }

    section.infos > .info.users.-last {
    margin-bottom: 4rem;
  }

  section.infos > .info.flowing > .right {
    align-items: flex-start;
  }

  section.infos > .info.grow > .left > .title,
  section.infos > .info.flowing > .right > .title,
  section.infos > .info.users > .left > .title {
    font-size: 2.5rem;
  }

  section.infos > .info.grow > .left > .description,
  section.infos > .info.flowing > .right > .description,
  section.infos > .info.users > .left > .description {
    width: 100%;

    font-size: 1.7rem;
    line-height: 2.5rem;

    margin-top: 1rem;
  }

  section.infos > .info.grow > .image-grow,
  section.infos > .info.flowing > .image-flowing,
  section.infos > .info.users > .image-users {
    width: 35rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  section.infos {
    padding: 0 5rem;
  }

  section.infos > .info.grow,
  section.infos > .info.flowing,
  section.infos > .info.users {
    padding: 4rem 3rem;
    margin-bottom: 4rem;

    gap: 7rem;
  }

  section.infos > .info.users.-last {
    margin-bottom: 0;
  }

  section.infos > .info.grow > .left > .title,
  section.infos > .info.flowing > .right > .title,
  section.infos > .info.users > .left > .title {
    font-size: 3rem;
  }

  section.infos > .info.grow > .left > .description,
  section.infos > .info.flowing > .right > .description,
  section.infos > .info.users > .left > .description {
    width: 100%;

    font-size: 1.7rem;

    line-height: 2.5rem;
  }

  section.infos > .info.grow > .image-grow,
  section.infos > .info.flowing > .image-flowing,
  section.infos > .info.users > .image-users {
    width: 40rem;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  section.infos {
    padding: 0 10rem;
  }

  section.infos > .info.grow,
  section.infos > .info.flowing,
  section.infos > .info.users {
    padding: 4rem 5rem;

    gap: 5rem;
  }

  section.infos > .info.grow > .left > .title,
  section.infos > .info.flowing > .right > .title,
  section.infos > .info.users > .left > .title {
    font-size: 3rem;
  }

  section.infos > .info.flowing > .right > .title {
    margin-left: 10rem;
  }

  section.infos > .info.grow > .left > .description,
  section.infos > .info.flowing > .right > .description,
  section.infos > .info.users > .left > .description {
    width: 100%;

    font-size: 1.6rem;

    line-height: 2.5rem;
  }

  section.infos > .info.grow > .image-grow,
  section.infos > .info.flowing > .image-flowing,
  section.infos > .info.users > .image-users {
    width: 40rem;
  }

  section.info.users.-last {
    margin-bottom: 0;
  }
}

section.advertising {
  grid-area: advertising;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  width: 60%;

  margin: 10rem auto 0;
  padding: 6rem 7rem;

  border-radius: 1rem;

  box-shadow: 2px 2px 5px 2px #000;
}

section.advertising > .box > .title {
  font-size: 5.5rem;
  font-weight: 700;
}

section.advertising > .box > .btn {
  background-color: var(--Pink);

  width: 50%;

  display: inline-block;

  margin-top: 10rem;
  padding: 2rem 0;
  border-radius: 3rem;

  font-weight: 600;
  font-size: 1.7rem;

  color: #fff;

  box-shadow: 3px 3px 10px #000;

  transition: 0.3s;
}

section.advertising > .box > .btn:focus {
  border: 1px solid var(--Pink);

  background-color: #fff;

  color: #000;
}

@media (max-width: 425px) {
  section.advertising {
    width: 90%;

    margin: 10rem auto 0;
    padding: 3.5rem 2rem;
  }

  section.advertising > .box > .title {
    font-size: 1.9rem;
  }

  section.advertising > .box > .btn {
    width: 80%;

    margin-top: 3rem;
    padding: 1.2rem 0;

    font-size: 1.2rem;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  section.advertising {
    width: 85%;

    margin-top: 4rem;
    padding: 4rem 3rem;
  }

  section.advertising > .box > .title {
    font-size: 3rem;
  }

  section.advertising > .box > .btn {
    width: 80%;

    padding: 1.7rem 0;
    margin-top: 4rem;

    font-size: 1.7rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  section.advertising {
    width: 80%;

    margin-top: 5rem;
    padding: 4rem;
  }

  section.advertising > .box > .title {
    font-size: 3.5rem;

    text-align: center;
  }

  section.advertising > .box > .btn {
    width: 80%;

    text-align: center;

    font-size: 1.6rem;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  section.advertising {
    width: 60%;

    padding: 5rem 0;
  }

  section.advertising > .box > .title {
    font-size: 3.5rem;
  }

  section.advertising > .box > .btn {
    width: 60%;
    
    margin-top: 4rem;
    padding: 1.3rem;

    font-size: 1.6rem;
  }
}

footer.footer {
  grid-area: footer;

  margin-top: 3rem;

  background-color: var(--Very-Dark-Cyan);
  
  color: #FFF;

  font-size: 1.9rem;
}

footer.footer > .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;

  padding: 4rem 10rem;
}

footer.footer > .container > .left {
  width: 70%;  
}

footer.footer > .container > .left > .div-image > img {
  padding: 1.5rem;

  border-radius: 2rem;

  background-color: var(--Very-light-Cyan);
}

footer.footer > .container > .left > .lists {
  display: flex;
  flex-direction: column;
}

footer.footer > .container > .left > .lists .list {
  display: flex;
  align-items: center;
  gap: 2rem;

  margin-top: 2rem;
}

footer.footer > .container > .left > .lists .list.-first {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

footer.footer > .container > .group-left-right-middle {
  display: flex;
  justify-content: space-around;

  margin-top: 5rem;
}

footer.footer > .container > .group-left-right-middle > .left-middle > .lists > .list > .description,
footer.footer > .container > .group-left-right-middle > .right-middle > .lists > .list > .description {
  margin-top: 3rem;
}

footer.footer > .container > .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-left: 10rem;
}

footer.footer > .container > .right > .lists {
  display: flex;
  justify-content: center;
  
  width: 100%;

  margin-top: 8rem;
}

footer.footer > .container > .right > .lists > .list {
  display: flex;
  align-items: center;
  gap: 2rem;

  margin-right: 2rem;
}

footer.footer > .container > .right > .description {
  margin-top: 8rem;

  text-align: center;

  font-size: 1.8rem;
}

@media (max-width: 425px) {
  footer.footer {
    padding: 2rem;
  }

  footer.footer > .container {
    display: flex;
    flex-direction: column;

    padding: 0;

    gap: 2rem;    
  }

  footer.footer > .container > .group-left-right-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;

    margin-top: 2rem;
  }

  footer.footer > .container > .left {
    width: 100%;
    
    text-align: center;
  }

  footer.footer > .container > .left > .div-image {
    display: flex;
    justify-content: flex-start;
  }

  footer.footer > .container > .left > .div-image > img {
    width: 70%;
  }

  footer.footer > .container > .left > .lists {
    margin-top: 1rem;
  }

  footer.footer > .container > .left > .lists > .list {
    margin-bottom: 1.5rem;

    gap: 1rem;
  }

  footer.footer > .container > .left > .lists > .list.-first {
    display: flex;
    gap: 0;
  }

  footer.footer > .container > .left > .lists > .list.-first > .description {
    width: 70%;
    text-align: left;

    margin-left: 1.5rem;
  }

  footer.footer > .container > .group-left-right-middle > .left-middle > .lists > .list > .description,
  footer.footer > .container > .group-left-right-middle > .right-middle > .lists > .list > .description {
    margin-top: 2rem;
  }

  footer.footer > .container > .right {
    align-items: center;
  }

  footer.footer > .container > .right > .lists {
    margin-top: 3rem;
  }

  footer.footer > .container > .right > .description {
    margin-top: 3rem;

    font-size: 1.5rem;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  footer.footer {
    margin-top: 4rem;

    background-color: var(--Very-Dark-Cyan);

    color: #FFF;

    font-size: 1.8rem;
  }

  footer.footer > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer.footer > .container > .left {
    width: 70%;
    
    text-align: center;
  } 

  footer.footer > .container > .left > .div-image > img {
    width: 100%;
  }

  footer.footer > .container > .left > .lists {
    display: flex;
    flex-direction: column;
    
    margin-top: 2rem;
  }

  footer.footer > .container > .left > .lists > .list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;

    margin-bottom: 2rem;
  }

  footer.footer > .container > .group-left-right-middle {
    display: flex;
    width: 100%;
    justify-content: space-around;

    margin-top: 4rem;
  }

  footer.footer > .container > .group-left-right-middle > .left-middle > .lists > .list > .description,
  footer.footer > .container > .group-left-right-middle > .right-middle > .lists > .list > .description {
    margin-top: 2rem;
}

  footer.footer > .container > .right {
    margin-top: 4rem;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  footer.footer {
    margin-top: 4rem;

    background-color: var(--Very-Dark-Cyan);

    color: #FFF;
  }

  footer.footer > .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    padding: 4rem 6rem 2rem;
  }

  footer.footer > .container > .left {
    width: 60%;
  } 

  footer.footer > .container > .left > .div-image > img {
    width: 80%;
  }

  footer.footer > .container > .left > .lists {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    margin-top: 2rem;
  }

  footer.footer > .container > .left > .lists > .list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;

    margin-bottom: 2rem;
  }

  footer.footer > .container > .group-left-right-middle {
    display: flex;
    justify-content: space-around;

    margin-top: 4rem;
  }

  footer.footer > .container > .group-left-right-middle > .left-middle > .lists > .list > .description,
  footer.footer > .container > .group-left-right-middle > .right-middle > .lists > .list > .description {
    margin-top: 2rem;
}

  footer.footer > .container > .right {
    margin: 6rem 0 0 4rem;
  }
}
